script(src="//code.jquery.com/jquery-1.10.2.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/jquery.tagsinput.min.js")
script(src="/js/app.js")
script(src="//cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js")

block foot
